<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>F1 Statistics</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form method="post" action="{{ url_for('driver') }}">
                    max verstappen is Q2239218, lewis hamilton is Q9673
                    <p>Choose driver:</p>
                    <select name="driver_id">
                        {% for driver_id in driver_idss %}
                            <option value="{{ driver_id }}">{{ driver_id }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Select">
                </form>
                    <!-- driver information when driver has been selected: -->
                    {% if driver_id %}
                    <h1>Driver: {{ driver_name }}</h1>
                    <img style="object-fit: cover; width: 100px; height: 200px;" src="{{ driver_img }}">
                    <ul>
                        <li>gender: {{ driver_gender }}</li>
                        <li>number of wins: {{ driver_wins }}</li>
                        <li>date of birth: {{ driver_dateOfBirth }}</li>
                        <li>place of birth: {{ driver_placeOfBirth }}</li>
                        <li>nationality: {{ driver_nationality }}</li>
                    </ul>
                    {% endif %}
            </div>

            <!-- race information when a race has been selected: -->
            <div class="col-sm">
                <form method="post" action="{{ url_for('race') }}">
                    <p>Choose championship race:</p>
                    <select name="championship_id">
                        {% for championship_id in championship_idss %}
                            <option value="{{ championship_id }}">{{ championship_id }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Select">
                </form>
                <!-- championship information when championship has been selected: -->
                {% if championship_id %}
                <h1>Championship: {{ championship_name }}</h1>
                <ul>
                    <li>winner: {{ championship_winner }}</li>
                    <li>date: {{ championship_date }}</li>
                    <li>organizer: {{ championship_organizer }}</li>
                    <li>start date: {{ championship_start }}</li>
                    <li>end date: {{ championship_end }}</li>
                    <li>number of races: {{ championship_noOfRaces }}</li>
                    <li>
                        <h3>Playing teams</h3>
                            {% if no_teams_known %}
                                <h4>no playing teams known</h4>
                            {% endif %}
                        <ul>
                            {% for team in championship_teams %}
                                <li>{{ team }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>

            <div class="col-sm">
                Some misc stuff regarding F1 statistics
                <ul>
                    <li><a href="{{ url_for('youngest_winner', _external=True) }}">Youngest winner</a></li>
                    <li><a href="{{ url_for('oldest_winner', _external=True) }}">Oldest winner</a></li>
                    <li><a href="{{ url_for('avg_age', _external=True) }}">Average age</a></li>
                    <li><a href="{{ url_for('country_selected_as_hq', _external=True) }}">number of times country selected as hq</a></li>
                    <li><a href="{{ url_for('out_top_10_won', _external=True) }}">People out of top 10, still won</a></li>
                </ul>

                {% if youngest_winner %}
                    <h1>Youngest Winner:</h1>
                    <ul>
                        <li>Name: {{ driver_name }}</li>
                        <li>Date of victory: {{ driver_vic_date }}</li>
                        <li>Driver's age: {{ driver_age }}</li>
                        <li>Championship: {{ driver_championship_label }}</li>
                    </ul>
                {% endif %}

                {% if oldest_winner %}
                    <h1>Oldest Winner:</h1>
                    <ul>
                        <li>Name: {{ driver_name }}</li>
                        <li>Date of victory: {{ driver_vic_date }}</li>
                        <li>Driver's age: {{ driver_age }}</li>
                        <li>Championship: {{ driver_championship_label }}</li>
                    </ul>
                {% endif %}

                {% if avg_age_tf %}
                    <h1>The average age of drivers is: {{ avg_age_drivers }}</h1>
                {% endif %}

                {% if country %}
                    <h1>Countries selected as HQ</h1>
                    {% for country, teams in country_team_zip %}
                        <li> <b>{{ country }}</b> was selected <b>{{ teams }}</b> time(s) as HQ</li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</html>
